.options{
    width: 550px;
    height: 200px;
    margin: 100px auto;
}
.leftbar,.controls,.rightbar,.available,.leftselect,
.controls,.selected,.rightselect{
    float: left;
}

.leftbar,.controls,.rightbar{
     height: 100%;   
}
.leftbar{
    width: 235px;
}
.controls{
    width: 80px;
    padding: 20px 0 0 0;
}
.rightbar{
    width: 235px;
}
.leftselect, .rightselect{
    width: 100%;
    height: 170px;
    font-size: 20px;
}
.available,.selected{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
}
#select,#selectAll,#diselect,#diselectAll{
    width: 60px;
    height: 30px;
    margin: 10px 10px 5px 10px;
}